{% extends "shared.html" %}
{% block titulo %}
	SIRAIPS - Inicio
{% endblock %}

{# Index del Sitio, esta Template maneja todos los roles de acuerdo a su booleano de rol xD Lo Siento tabla de Roles 
    Como se que los avisos se supone que tienen que salir por defecto, considerense libres de modificar el index de este sitio :) #}
{% block contenido %}

	<div class="row">
		<div class="col-md-10"><h2>Hola alumno: {{ user.first_name }}</h2></div>
		<div class="col-md-2"><a class="btn btn-danger" href="/siraips/logout">Cerrar Sesión</a></div>
		<div class="col-xs-6">
			<h3><span class="glyphicon glyphicon-duplicate"></span> Consultar Notas</h3>
			<p>Puede consultar sus notas durante cada periodo </p><a href={% url 'alumno_nota' %} class="btn btn-info">Consultar</a>
		</div>
		<div class="col-xs-6">
			<h3><span class="glyphicon glyphicon-duplicate"></span> Consultar Avisos</h3>
			<p>Consulte los ultimos avisos </p><a href={% url 'avisos_estudiante' %} class="btn btn-info">Consultar</a>
		</div>

	</div><br><br><br><br>

{% endblock %}
