{% extends "shared.html" %}
{% block titulo %}
	SIRAIPS - Inicio
{% endblock %}

{# Index del Sitio, esta Template maneja todos los roles de acuerdo a su booleano de rol xD Lo Siento tabla de Roles 
    Como se que los avisos se supone que tienen que salir por defecto, considerense libres de modificar el index de este sitio :) #}
{% block contenido %}
		<div class="row">
			<div class="col-md-10"><h2>Hola {{ user.first_name }} [Panel de Docente]</h2></div>
			<div class="col-md-2"><a class="btn btn-danger" href="/siraips/logout">Cerrar Sesión</a></div>
			
			<div class="col-xs-6">
				<h3><span class="glyphicon glyphicon-list-alt"></span> Gestionar Evaluaciones</h3>
				<p>Puede Gestionar Evaluaciones a realizar a los alumnos </p><a href={% url 'elegir_sub' %} class="btn btn-info">Gestionar</a>
			</div>
			<div class="col-xs-6">
				<h3><span class="glyphicon glyphicon-search"></span> Gestionar Periodos</h3>
				<p>Gestione los Periodos de cada Grado al que se encargue </p><a href={% url 'listar_periodos' %} class="btn btn-info">Gestionar</a>
			</div>
			<div class="col-xs-6">
				<h3><span class="glyphicon glyphicon-print"></span> Gestionar Notas</h3>
				<p>Puede Gestionar las notas de los alumnos </p><a href={% url 'grades' %} class="btn btn-info">Gestionar</a>
			</div>
			<div class="col-xs-6">
				<h3><span class="glyphicon glyphicon-duplicate"></span> Gestionar Avisos</h3>
				<p>Puede crear o actualizar avisos para los docentes y alumnos </p><a href={% url 'listar_avisos' %} class="btn btn-info">Gestionar</a>
			</div>
		</div>
		<br><br><br><br>
{% endblock %}
