{% extends 'master_crud.html' %}

{% block titulo %}
	Avisos
{%endblock%}

{% block titulo1 %}
	Avisos
{%endblock%}

{% block cuerpo %}

<h1>Avisos para el Encargado o Alumno</h1>
{% if privados %}
<div class="row">
	{% for p in privados %}

	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">	
	<div class="card" style="width: 20rem;">
  		<img class="card-img-top" src="/static/imagenes/minerva.png" style="width: 20%" alt="Card image cap">
  		<div class="card-body">
    		<h4 class="card-title">Redactado por: {{p.autor}}</h4>
   			<p class="card-text">Publicado {{p.fechaPublicacion}}</p>
  		</div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">Titulo {{p.encabezado}}</li>
    		<li class="list-group-item">{{p.mensaje}}</li>
    		<li class="list-group-item">Motivo {{p.tipo}}</li>
 		</ul>
	</div>
	</div>
	{%endfor%}
</div>
{%else%}
	<h1>No hay avisos</h1>
{%endif%}

<h1>Avisos publicos</h1>

{% if avisos %}
<div class="row">
	{% for a in avisos %}
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">	
		<div class="card" style="width: 20rem;">
  		<img class="card-img-top" src="/static/imagenes/minerva.png" style="width: 20%" alt="Card image cap">
  		<div class="card-body">
    		<h4 class="card-title"> Redactado por {{a.autor}}</h4>
   			<p class="card-text">Publicado {{a.fechaPublicacion}}</p>
  		</div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">Titulo {{a.encabezado}}</li>
    		<li class="list-group-item">{{a.mensaje}}</li>
    		<li class="list-group-item">Motivo {{a.tipo}}</li>
 		</ul>
  		
	</div>
	</div>
	{% endfor %}
</div>
{% else %}
	<h1>No hay avisos</h1>
{% endif %}
{% endblock %}

