{% extends 'master_crud.html' %}
	{% block titulo %}
		Gestion de Avisos
	{% endblock %}
	{% block titulo1 %}
		Avisos Publicados
	{% endblock %}
	{% block cuerpo %}
	<!-- Desde aca se genera la tabla de Avisos.
	  Cada linea muestra el encabezado y fecha del aviso.
	 junto a cada aviso se crea un boton hacia eliminarlo o editarlo
	 Se pueden crear nuevos avisos desde aca, con el boton del fondo de la tabla -->
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Encabezado </th>
					<th>Fecha/Hora de Publicacion</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% if avisos %}
					{% for x in avisos %}
						<tr>
							<td>{{x.encabezado}}</td>
							<td>{{x.fechaPublicacion}}</td>
							<td><a class="btn btn-default" href="./editar/{{ x.id }}">Editar</a>
								<a class="btn btn-danger" href="./eliminar/{{ x.id }}">Eliminar</a></td>
						</tr>
					{% endfor %}
				{% else %}
					<h1>No hay Avisos para mostrar </h1>
				{% endif %}
			</tbody>
			
		</table>
		<a class="btn btn-default" href="./crear">Agregar Nuevo Aviso</a>

	{% endblock %}