{% extends 'master_crud.html' %}
	{% block titulo %}
		Eliminar Usuarios de Alumnos
	{% endblock %}
	{% block titulo1 %}
		Se va a borrar a un Usuario del Sistema!
	{% endblock %}
	{% block cuerpo %}
		<h3>El alumno {{alumno.nombres}} esta a punto de eliminarse. ¿Seguro que desea continuar? </h3>
	<!-- Este formulario solo sirve para validar el metodo de la request como POST. Entonces se confirma que se desea eliminar -->
		<form method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger">Confirmar Eliminacion</button>
		</form>

	{% endblock %}