{% extends 'master_crud.html' %}
	{% block titulo %}
		Eliminar
	{% endblock %}
	{% block titulo1 %}
		ELiminar Departamento
	{% endblock %}
	{% block cuerpo %}
		<form class="form-group" method="post">
			{% csrf_token %}
			<h3> ¿Desea eliminar el registro de {{departamento.nombre}}?</h3>
			<button class="btn btn-danger" type="submit">Sí, eliminar</button>
        	<a href={% url 'departamento_crear' %}>Cancelar</a>
		</form>
		
	{% endblock %}