{% extends 'master_crud.html' %}
	{% block titulo %}
		Bienvenido, {{user.first_name}}
	{% endblock %}

	{% block titulo1 %}
		Elija la materia que desea gestionar
	{%endblock%}

	{% block estilo %}
		<link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
	{% endblock %}

	{% block cuerpo %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Nombre materia</th>
					<th>Crear evaluaciones</th>
					<th>Consultar evaluciones</th>
					
				</tr>
			</thead>
			<tbody>
				{% if materias %}
					{% for a in materias %}
						<tr class="fondo">
						   
							<td>{{a.nombreMateria}}</td>
							<td><a href={% url 'evaluation' %} class="btn btn-success">Ingresar evaluacion</a></td>
							<td><a href={% url 'list_evaluation' a.id %} class="btn btn-primary">Consultar evaluaciones</a></td>
						   
						</tr>
					{% endfor %}
				{% else %}
					<h1>No hay estudiantes</h1>
				{% endif %}
			</tbody>
		</table>
			
		
	{% endblock %}