{% extends 'master_crud.html' %}
	{% block titulo %}
		Bienvenido, {{user.first_name}}
	{% endblock %}

	{% block titulo1 %}
		Estos son sus grados 
	{%endblock%}

	{% block estilo %}
		<link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
	{% endblock %}

	{% block cuerpo %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Numero de grado</th>
					<th>Nombre</th>
				</tr>
			</thead>
			<tbody>
				{% if grado %}
					{% for grados in grado %}
						<tr class="fondo">
							<td>{{grados.numeroGrado}}</td>
							<td><a class="enlace" href={% url 'grades_al' grados.id %}>{{grados.nombreGrado}}</a></td>
						</tr>
					{% endfor %}
				{% else%}
					<h1>No hay grados</h1>
				{% endif %}
			</tbody>
		</table>
			
		
	{% endblock %}