{% extends 'master_crud.html' %}
	{% block titulo %}
		Eliminar Inscripciones
	{% endblock %}

	{% block titulo1 %}
		<h1 class="text-danger">Eliminando Inscripcion</h1>
	{% endblock %}

	{% block cuerpo %}
	<h3 class="text-warning">La inscripcion de {{inscripcion.id_alumno.nombres}} de {{inscripcion.id_grado.nombreGrado}} esta a punto de eliminarse. ¿Seguro que desea continuar? </h3>
		<form method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger">Confirmar Eliminacion</button>
		</form>
	{% endblock %}